<h1>Listing final_certifications</h1>

<table>
  <thead>
    <tr>
      <th>Final grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @final_certifications.each do |final_certification| %>
      <tr>
        <td><%= final_certification.final_grade_id %></td>
        <td><%= link_to 'Show', final_certification %></td>
        <td><%= link_to 'Edit', edit_final_certification_path(final_certification) %></td>
        <td><%= link_to 'Destroy', final_certification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Final certification', new_final_certification_path %>
