<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :days %><br>
    <%= f.text_field :days %>
  </div>
  <div class="field">
    <%= f.label :numberdays %><br>
    <%= f.number_field :numberdays %>
  </div>
  <div class="field">
    <%= f.label :arrival_time %><br>
    <%= f.time_select :arrival_time %>
  </div>
  <div class="field">
    <%= f.label :desmissal_time %><br>
    <%= f.time_select :desmissal_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
