<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @teacher.person_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @teacher.grade_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
