<<<<<<< HEAD
<%= form_tag({controller: 'security', action: 'login'}, method: 'post') do %>
<%= label_tag :username, 'Nombre de Usuario'%>
<%= text_field_tag :username%>
<%= label_tag :password, 'Ingrese su contraseña'%>
<%= password_field_tag :password%>
<%= submit_tag 'Ingresar' %>
<% end %>
=======
<h1>Security#index</h1>
<p>Find me in app/views/security/index.html.erb</p>
>>>>>>> b760f04decf24074a58a0bad713af8d0a16fa83b
